* {
  margin: 0;
  font-size: 16px;
}

ul,
li {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.top-nav {
  padding: 10px 15px;
  background-color: #f66582;
}

.top-nav__itemList {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.top-nav__itemList__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  column-gap: 1rem;
  color: white;
}

.top-nav__itemList__item:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color: white;
}

.navbar__brand {
  font-size: 25px;
  color: #2e2e2e;
  font-weight: 600;
  background-image: url(./logo.png);
  background-repeat: no-repeat;
  background-size: 50px;
}

.navbar__item {
  padding: 2px 10px;
}

.navbar__link:hover {
  color: #f66582;
  transition: 0.3s;
}

.navbar__link {
  font-size: 20px;
  margin-left: 10px;
  color: #5c549e;
  font-weight: bold;
}

.banner {
  height: fit-content;
  position: relative;
}

.banner__image {
  width: 100%;
  height: 29rem;

}

.banner__leftBox {
  position: absolute;
 
  background-color: rgba(255, 255, 255, 0.6);
  top: 50%;
  transform: translate(0, -50%);
  left: 10vw;
  padding: 3.5rem 3.5rem;
}

.banner__leftBox__heading {
  font-size: 2.8rem;
  font-weight: 600;
  color: #5c549e;
  white-space: nowrap;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.banner__leftBox__text {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  font-weight: 500;
  color: rgb(73, 73, 73);
  word-spacing: 1px;
  white-space: nowrap;

}

.banner__leftBox__button {
  background-color: #5c549e;
  color: white;
  padding: 0.6rem 1.5rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border: none;
  text-decoration: none;
}

.banner__leftBox__button:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.core__heading {
  font-size: 2.2rem;
  font-weight: bold;
  word-spacing: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #5c549e;
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

.core__card {
  border-radius: 5rem;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  color: white;
  padding: 1.5vw 4vw;
}

.core__card__heading {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem 0 0rem 0;
  margin-bottom: 1rem;
}

.core__card__text {
  font-size: 1.2rem;
  color: #f2f2f2ea;
  padding-bottom: 1rem;
}

.green-card {
  background-color: #9acb3b;
}

.white-card {
  display: flex;
  padding: 3vw 0.5vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  hyphens: auto;
}

.white-card__text {
  font-size: 1.18rem;
  color: #171717;
  font-weight: 400;
  word-spacing: 3px;
  line-height: 1.8rem;
}

.white-card__heading {
  margin-top: -5rem;
  font-size: 2rem;
  font-weight: 500;
  word-spacing: 8px;
  letter-spacing: 1px;
  padding: 2rem 0 0rem 0;
  color: #2e2e2e;
  margin-bottom: 1.5rem;
}

.orange-card {
  background-color: #f8ae31;
}

.pink-card {
  background-color: #f56564;
}

.core__card__image {
  margin-top: -4rem;
  border-radius: 50%;
}

.about__text {
  margin-bottom: 4rem;
  margin-left: 4.1rem;
  margin-right: 4.1rem;
  font-size: 1.38rem;
  word-spacing: 12px;
  hyphens: auto;
  text-align: center;
  font-weight: 500;
  line-height: 2.6rem;
}

.footer {
  padding-top: 1.2rem;
  background-color: #5851a1;
}

.footer__container__para {
  padding: 1rem 0rem;
  opacity: 0.7;
  color: #f2f2f2ea;
  font-size: 1rem;
  word-spacing: 2px;
  max-width: 350px;
}

.footer__container__item {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 0.5rem
}

.footer__container__socials {
  display: flex;
  justify-content: space-around;
  max-width: 180px;
}

.third {
  margin-top: 3.7rem !important;
}

.footer__container__item__heading {
  color: #f2d80a;
  font-weight: bold;
  font-size: 1.5rem;
  white-space: nowrap;
  padding-bottom: 1rem !important;
}

.footer__container__item__writing-pink {
  color: #e55a9e;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer__container__item__text {
  font-size: 1.15rem;
  color: #fff;
  hyphens: auto;
}

.footer__container__item__writing {
  display: flex;
  align-items: center;
  hyphens: auto;
  cursor: pointer;
  flex-direction: row;
  color: #cccce2;
}

.copyright {
  background-color: white;
  font-size: 16px;
  text-align: center;
  padding: 1.2rem;
}

.copyright__link {
  color: #e55a9e;
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  .banner__image {
    height: 30vh;
  }

  .banner__leftBox {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5vw 6.5vw;
  }

  .banner__leftBox__heading {
    font-size: 7vw;
    margin-bottom: 2vw;
  }

  .banner__leftBox__text {
    font-size: 3.5vw;
    margin-bottom: 3vw;
  }

  .banner__leftBox__button {
    padding: 1.8vw 4vw;
    font-size: 2.3vw;
  }
}

@media (max-width: 428px) {
  .copyright,
  .copyright__link {
    font-size: 10px;
  }
}

@media (max-width: 570px) {
  .core__card {
    padding: 1.5rem 2rem;
  }

  .footer__container__item__writing {
    justify-content: center;
  }

  .footer__container {
    text-align: center;
  }

  .footer__container__para,
  .footer__container__socials {
    max-width: unset;
  }

  .third {
    margin-top: 0rem !important;
  }
}

@media (max-width: 320px) {
  .core__card {
    padding: 1.5rem 1rem;
  }

  .white-card__heading {
    font-size: 1.5rem;
  }

  .top-nav__itemList__item span {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .top-nav ul {
    flex-direction: column;
  }

  .core__heading {
    font-size: 1.8rem;
  }
}

@media (max-width: 1021px) {
  .about__text {
    margin-bottom: 4rem;
    margin-left: 5.5vw;
    margin-right: 5.5vw;
    font-size: 1rem;
    word-spacing: 3px;
    hyphens: auto;
    font-weight: 500;
    line-height: 2rem;
  }
}

@media (max-width: 1240px) and (min-width: 700px) {
  .core__card {
    margin-left: 0;
    margin-right: 0;
  }
}

.core,
.top-nav__itemList,
.navbar,
.about,
.top-nav__container,
.footer__container,
.core__card {
  max-width: 1450px;
  margin: auto;
}

@media (min-width: 1750px) {
  .banner__image {
    height: 55.5vh;
  }

  .core__card {
    padding: 1.2rem;
  }

  .banner__leftBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
  }
}

@media (min-width: 430px) and (max-width: 700px) {
  .banner__image {
    height: 19rem;
  }
}